@import url('https://fonts.googleapis.com/css?family=Poiret+One');
.header {
	position: fixed;
	z-index: 1000;
	width: 100%;
}

.menu-line {
	width: 40px;
	height: 40px;
	position: relative;
	background-color: white;
	margin: 20px;
	cursor: pointer;
	float: left;
	box-shadow: 1px 2px 10px rgba(160,140,140,0.5);
	border-radius: 2px;
}

.menu-line span {
	width: 60%;
	height: 4px;
	display: block;
	background-color: #ce422b;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}

.menu-line span:first-child {
	margin-top: -8px;
}

.menu-line span:last-child {
	margin-top: 8px;
}

.menu-rightbar {
	width: 150px;
	height: 50%;
	background-color: rgb(206, 66, 43);
	position: fixed;
	top: 0px;
	left: -150px;
	z-index: 1005;
	box-shadow: 1px 2px 10px rgba(103,37,26,0.5);
}

.nav-rightbar {
	float: left;
}

.nav-rigthbar li {
	display: inline-block;	
}

li a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	transition: all .5s ease;
}

li a:hover {
	text-decoration: none;
	color: gray;
}
.menu-rightbar .fa-close {
	float: right;
	padding-right: 10px;
	padding-top: 10px;
	font-size: 18px;
	color: white;
	cursor: pointer;
	
}

.active-rightbar {
	left: 0px;
}

.active-menu-line {
	display: none;
}

.main {
	height: 100vh;
	position: relative;
}

.main-block {
	width: 100%;
	height: 100%;
	background: url(../pictures/header-bg.jpg) right no-repeat;
	background-size: contain;
}

.main-title {
	position: absolute;
	padding-top: 150px;
	padding-left: 110px;
	max-width: 100%;

}

.title-text {
	font-size: 70px;
	font-family: 'Archivo Black', sans-serif;
	width: 550px;
}

.red {
	color: #d63d3d;
}

.yellow {
	color: #e6e654;
}

.gray {
	color: gray;
}

.white {
	color: white;
}

.bg-white {
	background-color: white;
}

.web-title {
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-top: 15px;
	white-space: nowrap;
	font-size: 20px;
}

.arrow-icon {
	float: right;
	height: 40px;
	width: 40px;
	background-color: white;
	padding-top: 25px;
	padding-right: 25px;
	position: fixed;
	right: 20px;
	bottom: 10%;
	margin: 20px;
	box-shadow: 1px 2px 10px rgba(160,140,140,0.5); 
	border-radius: 2px;
}
.arrow-up{
	font-size: 25px;
	color: #ce422b;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	cursor: pointer;
}

.arrow-pic {
	margin-top: 10px;
	margin-bottom: 20px;
}
.info-block {
	position: relative;
	background-color: #ce422b;
}

.bio-title {
	padding: 80px 0;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	color: white;
	max-width: calc(100% - 30px);
}

.head-text {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Alegreya', serif;
	font-size: 16px;

}
.text-title{
	font-family: 'Alegreya', serif;
	font-size: 12px;
	line-height: 25px;
}


.items {
	padding: 100px 0;
}
.items-title {
	letter-spacing: 2px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;

}

.item-arrow {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 60px;

}
.icon-block {
	text-align: center;
}

.icon {
	border: 1px solid #ce422b;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	line-height: 120px;
	text-align: center;
	font-size: 45px;
	color: #ce422b;
	transition: all .7s ease;
}


.item-head {
	text-align: center;
}

.text {
	font-size: 16px;
	text-align: center;
	margin-top:20px;
}

.skills::after {
	content: "";
	border: 1px solid gray;
	display: block;
	width: 65px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.design-animation__title::after {
	content: "";
	border: 1px solid white;
	display: block;
	width: 65px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.photography__title::after {
	content: "";
	border: 1px solid gray;
	display: block;
	width: 65px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-text {
	line-height: 20px;
	text-align: center;
	font-family: 'Alegreya', serif;
}

.section-webdesign {
	width: 100%;
	position: relative;
}

.section-webdesign__pic {
	width: 50%;
	height: 400px;
	float: left;
	background: url(../pictures/about1.png);
}

.section-webdesign__title {
	width: 50%;
	float: right;
	background-color: #ce422b;
	height: 400px;
}

.webdesign-title {
	margin: 40px;
}

h4 {
	text-transform: uppercase;
	font-family: 'Alegreya', serif;
	font-weight: bold;
	font-size: 18px;
}

.about {
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: 'Alegreya', serif;
	font-size: 16px;
	line-height: 25px;
}

.webdesign-title {
	margin: 40px;
}

.left {
	float: left!important;
}

.section-photography {
	width: 100%;
	position: relative;
}

.section-photography__pic {
	width: 50%;
	height: 400px;
	float: right;
	background: url(../pictures/about2.png);
}

.section-photography__title {
	width: 50%;
	float: left;
	background-color: white;
	height: 400px;
}

.photography-title {
	margin: 40px;
}

.section-animations {
	width: 100%;
	position: relative;
}

.section-animations__pic {
	width: 50%;
	height: 400px;
	float: left;
	background: url(../pictures/about3.png);
}

.section-animations__title {
	width: 50%;
	float: right;
	background-color: #ce422b;
	height: 400px;
}

.animations-title {
	margin: 40px;
}

.padding {
	padding-left: 0;
	padding-right: 0;
}

.projects-block {
	text-align: center;
	padding: 50px 0;
}

.image {
	overflow: hidden;
	filter: grayscale(1);
	transition: all .7s ease;
}

 .image:hover {
	filter: grayscale(0);
}

 .pic {
 	display: block;
 	transition: all .7s ease;
 }

 .pic:hover {
 	right:10%;
 	transform: translate3d(-40px,0,0);
 }

.projects-title {
	color: #ce422b;
	font-size: 25px;
	letter-spacing: 4px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.hire-block {
	background-color: #ce422b;
	padding: 60px 0;
}

.button-block {
	text-align: center;
}

.button {
	padding: 15px 25px;
	color: #e6e654;
	border: 1px solid #e6e654;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	transition: all .7s ease;
}

.button:hover {
	background-color: #e6e654;
	color: #ce422b;
	text-decoration: none;
}

.blog {
	padding: 45px 0;
}

.top-blog {
	text-align: center;
}

.blog-title {
	letter-spacing: 2px;
}

.blog-h1 {
	padding-top: 15px;
	padding-bottom: 25px;
}

.blog-pic{
	overflow: hidden;
	filter: grayscale(1);
	transition: all .7s ease;
}

.blog-pic:hover {
	filter: grayscale(0);
}

.blog-img {
	transition: all .7s ease;
}

.blog-img:hover {
	transform: translateX(-10%);
}

.blog-text-block {
	text-align: center;
}

.blog-main-title {
	margin: 15px 0;
}

.style {
	text-transform: uppercase;
	font-weight: bold;
}

.blog-text {
	line-height: 25px;
	color: gray;
	font-size: 14px;
}

.clients {
	width: 100%;
}

.clients-pic {
	width: 50%;
	background-image: url(../pictures/clients.png);
	height: 400px;
	float: left;
}

.clients-text-block {
	width: 50%;
	background-color: #ce422b;
	height: 400px;
	float: right;
}

.clients-text {
	margin: 35px 45px;
}

.clients-title {
	margin-bottom: 50px;
}

.clients-main-text {
	line-height: 25px;
}

.ceo {
	margin-top: 25px;
	font-weight: bold;
}

.subscribe {
	width: 100%;
}

.subscribe-block {
	width: 50%;
	height: 400px;
	background-color: #ce422b;
	float: left;
	position: relative;
}

.input-text {
	border: 1px solid #e6e654;
	background-color: #ce422b;
	padding: 10px 5px;
	margin-top: 10px;
	color: white;
}

.input-text:focus {
	outline: none;
}

.input-button {
	padding: 10px 15px;
	text-transform: uppercase;
	background-color: #e6e654;
	color: #ce422b;
	margin-top: 10px;
	border: 1px solid #e6e654;
	cursor: pointer;
}

.input-title {
	margin-bottom: 10px;
}

.newsletter-block {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}

.subscribe-pic {
	width: 50%;
	background-image: url(../pictures/newsletter.png);
	height: 400px;
	float: right;
}

.contact-line {
	padding: 45px 0;
}

.line-block {
	text-align: center;
}

.address-block {
	height: 150px;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ce422b;
	transition: all .7s ease;
}

.address-block:hover {
	top: 20px;
	transform: translateY(-20px);
	border-bottom: 1px solid #e6e654;
}

.address {
	text-align: center;
	padding-top: 15px;
}

.info::after {
	content: "";
	border: 1px dashed #d63d3d;
	display: block;
	width: 65px;
	margin: 0 auto;
	margin-top:
}

.info:hover {
	color: black;
}

.info:hover::after {
	border-color: #000;
	cursor: pointer;
}

.contact-map {
	height: 400px;
	margin-top: 30px;
}

.map {
	height: 300px;
	width: 100%;
}

.contact-input {
	padding: 10px 5px;
	width: 100%;
	margin-bottom: 20px;
	outline: none;
}

.contact-textarea {
	width: 100%;
	height: 235px;
	padding: 10px 5px;
	outline: none;
	resize: none;
}

.send-message-button {
	padding: 5px 15px;
	color: white;
	background-color: #ce422b;
	border: none;
	transition: all .7s ease;
	margin-top: 20px;
	float: right;
}

.send-message-button:hover {
	background-color: #e6e654;
	color: #ce422b;
}
	
.soc-block {
	text-align: center;
}

.soc-icon {
	font-size: 20px;
	background-color: #ce422b;
	color: white;
	padding: 5px;
	margin: 5px;
	transition: all .7s ease;
	width: 30px;
}

.soc-icon:hover {
	color: #ce422b;
	background-color: #e6e654;
}


.footer {
	padding-bottom: 30px;
}

@media screen and (max-width: 425px) {
	.main-block {
		background: url(../pictures/header-bg.jpg) center;
		background-size: cover;
	}

	.title-text {
		font-size: 30px;
		width: 200px;
	}

	.web-title {
		font-size: 10px;
	}

	.main-title {
		padding-top: 70px;
		padding-left: 10px;
	}

	.section-webdesign__title {
		width: 100%;
		float: left;
	}

	.section-webdesign__pic {
		width: 100%;
		float: left;
	}

	.webdesign-title {
		margin: 20px;
	}

	.about {
		font-size: 12px;
	}

	.section-photography__pic {
		width: 100%;
		float: left;
	}

	.section-photography__title {
		width: 100%;
		float: left;
	}

	.photography__title {
		margin: 20px;
	}

	.section-animations__pic {
		width: 100%;
		float: left;
	}

	.section-animations__title {
		width: 100%;
		float: left;
	}

	.animations__title {
		margin: 20px;
	}

	.clients-pic {
		width: 100%;
		float: left;
	}

	.clients-text-block {
		width: 100%;
		float:left;
	}

	.clients-title {
		margin-bottom: 10px;
	}

	.clients-main-text {
		line-height: 15px;
	}

	.subscribe {
		margin-top: 20px;
	}

	.subscribe-block {
		width: 100%;
		height: 200px;
		float: left;
		margin-bottom: 20px;
	}

	.subscribe-pic {
		width: 100%;
		float: left;
	}

	.contact-message {
		margin-top: 20px;
	}

	.contact-textarea {
		width: 100%;
		height: 150px;
		padding: 10px 5px;
	}

	.soc-block {
		margin-top: 20px;
	}

	.contact-map {
		height: auto;
	}
}

@media screen and (min-width: 425px) and (max-width: 768px) {
	.main-block {
		background: url(../pictures/header-bg.jpg) center;
		background-size: cover;
	}

	.main-title {
		padding-top: 70px;
		padding-left: 10px;
	}

	.title-text {
		font-size: 30px;
		width: 200px;
	}

	.section-webdesign__pic {
		width: 100%;
		float: left;
	}

	.section-webdesig__title {
		width: 100%;
		float: left;
	}

	.webdesig__title {
		margin: 30px;
	}

	.section-photography__pic {
		width: 100%;
		float: left;
	}

	.section-photography__title {
		width: 100%;
		float: left;
	}

	.photography-title {
		margin: 30px;
	}

	.read-more-two {
		padding: 10px;
		margin-top: 10px;
	}

	.section-animations__pic {
		width: 100%;
		float: left;
	}

	.section-animations__title {
		width: 100%;
		float: left;
	}

	.three-title {
		margin: 30px;
	}

	.read-more-three {
		padding: 10px;
		margin-top: 10px;
	}

	.image {
		width: 350px;
		margin: 0 auto;
	}

	.clients-pic {
		width: 100%;
		float: left;
	}

	.clients-text-block {
		width: 100%;
		float:left;
	}

	.clients-title {
		margin-bottom: 25px;
	}

	.clients-main-text {
		line-height: 25px;
	}

	.contact-message {
		margin-top: 20px;
	}

	.subscribe-block {
		width: 100%;
		height: 300px;
		float: left;
		margin: 20px 0;
	}

	.subscribe-pic {
		width: 100%;
		float: left;
	}

	.contact-map {
		height: auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.form {
		margin-top: 20px;
	}
	.contact-map {
		height: auto;
	}
} 

